.pydevproject
.project
.git
*.pyc
.settings
/env-var-exports.txt
*.log
/.travis.yml.backup
*ini
!aims_test_config.ini
AIMSDataManager/.cache/*
.gitignore
/.cache/
/AimsLogging.html
/Config.html
*.vscode
symbology-style.db
*.zip