{
    "version":'#required',
    "userId":'#required',
    "userName":'#required',
    "email":'#required',
    "requiresProgress":'#required',
    "organisation":'#required',
    "role":'#required'
}
